<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies to watch during lockdown</title>
</head>
<body>
    <h1>Here is {{name}}'s movie collection that you can enjoy with your family during lockdown</h1>
    <h2>Movies for friends & family....</h2>

    <h3>My favourate movie is : '{{movies[2]}}'</h3>

    <h3>Rest of movies are listed below...</h3>
    <h3>{{movies}}</h3>

    <!--- Line break -->
    <hr>
    <!-- Looping through list-->
        <ul>
            {% for item in movies%}
                <li>The movie is: {{item}}</li>
            {% endfor %}
        </ul>

</body>
</html>
